*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body{
    font-family: aggiungere roboto;
} */

header{ 
    height: 100px;
    line-height: 100px;
}

h1{
    display: inline-block;
    font-size: 40px;
}

.grey{
    background-color:#f6f8f9;
}

.white{
    background-color: white;
}

.blue{
    background-color: #14aaf5;
    color: white;
}

.button{
    border-radius: 10px;
    padding: 6px 8px;
}

.border1{
    border-color: #14aaf5;
}

.border2{
    border-color:#d5dadd;
    color:#d5dadd;
}

.purple{
    background-color: #ab5de6;
}

.green{
    background-color: #2cc6ab;
}

.orange{
    background-color: #ff9b00;
}

.pink{
    background-color: #ec4a9d;
}

.lightgreen{
    background-color: #a3d116;
}

button{
    padding: 3px;
    padding: 5px;
    
}

hr{
    margin-top: 5px;
}

.center{
    background-color: white;
    margin: 0 auto;
    width: 60%;
    margin: 40px auto;
    border-radius: 8px;
}

ul{
    list-style-type: none;
}

.mid{
    padding-left: 30px;
    padding-top: 30px;
}

.space{
    margin-top: 15px;
    margin-left: 30px;
}

.space_bot{
    padding-bottom: 30px;
}

.bold{
    font-weight: 900;
    font-size: 25px;
}

.textbox{
    color: white;
    padding: 8px;
    border-radius: 30px;
    font-size: 10px;
}

.text{
    font-size: large;
}

li{
    padding: 15px 10px;
}       

.font{
    font-family: "Roboto", sans-serif;
}